# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints/

# Virtualenv / Environment
.env
.venv

# IDEs / OS
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
